/** QUIZ  **/

/* Set custom color variables*/
:root {
  --blueDark: #0a2240;
  --blueMedium: #002d74;
  --blueRoyal: #496fd8;
  --blueViolet: #95b5e4;
  --blueBSky: #a6e5f3;
  --blueLight: #e1f3f8;
  --blueLightest: #f0f8ff;
  --red: #981b1e;
  --green: #216e1f;
  --grey: #e4e5e6;
  --greyBlueish: #f2f2f2;
  --white: #ffffff;
  --font: 'Public Sans', sans-serif;
  --fontSizeBigger: 22px;
  --shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 8px 10px -6px rgb(0 0 0 / 10%);
  --shadowHeavy: 0 20px 25px -3px rgba(0, 0, 0, 0.2), 0 8px 15px -4px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

a:hover {
  font-weight: bold;
}

/* General font sizes and spacing*/
.question-container {
  padding: 1.5rem 0;
}

p.progress {
  font-weight: bold;
  margin-top: 0;
}

p.progress,
strong.revealed {
  font-family: var(--font);
  font-size: var(--fontSizeBigger);
}

p.question,
p.explanation {
  font-family: var(--font);
  font-size: 18px;
}

.question-container .explanation {
  display: none;
  transition-duration: 0.4s;
}

.explanation.explain {
  display: block;
}

/* Prefix the question with letters */
.question-container > button:nth-of-type(1)::before {
  content: "A) "
}

.question-container > button:nth-of-type(2)::before {
  content: "B) "
}

.question-container > button:nth-of-type(3)::before {
  content: "C) "
}

.question-container > button:nth-of-type(4)::before {
  content: "D) "
}

/* Style the answer options in all of their various states */
.answer {
  font-family: var(--font);
  font-size: 18px;
  text-align: left;
  text-decoration: none;
  color: var(--blueDark);
  background-color: var(--blueBSky);
  border: var(--grey);
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 1.2rem;
  margin: 0.7rem 0;
  width: 100%;
}

.answer:disabled {
  cursor: default;
}

.answer:focus {
  outline: solid 2px var(--blueRoyal);
}

.answer:not(:disabled):hover {
  background-color: var(--blueViolet);
}

.answer.correct {
  background-color: var(--green);
  border: 4px solid #fff;
  box-shadow: var(--shadowHeavy);
  color: var(--white);
  font-weight: bold;
  transform: scale(1.05);
  transition: all 0.3s;
}

.answer.incorrect {
  background-color: var(--white);
  color: var(--red);
  font-weight: bold;
}

.answer.unselected {
  background-color: var(--greyBlueish);
  opacity: 0.55;
}

/* Style the final HTML section which displays the quiz result */
.reveal-score {
  background-color: var(--blueLightest);
  color: var(--blueDark);
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cta,
.reveal-score > button,
.reveal-score > span {
  border: none;
  color: var(--blueDark);
  background-color: var(--blueLightest);
  font-family: var(--font);
  font-size: 18px;
  padding: 1rem;
  text-align: center;
}

.reveal-score > button {
  display: block;
  font-weight: bold;
}

.reveal-score > span {
  display: none;
}

.show-score:hover {
  color: var(--blueMedium);
  background-color: var(--blueLight);
}