/** QUIZ  **/

/* Set custom color variables*/
:root {
  --blueDark: #0a2240;
  --blueMedium: #002d74;
  --blueLight: #e1f3f8;
  --blueLightest: #f0f8ff;
  --red: #f9dede;
  --green: #94bfa2;
  --grey: #e4e5e6;
  --font: 'Public Sans', sans-serif;
}

button {
  cursor: pointer;
}

/** Explanation:
 * This section relates to the styling of the text that appears
 * to explain the correct answer in the quiz.
 **/

.question,
.explanation {
  font-family: var(--font);
  font-size: 18px;
  text-align: inline-block;
  text-decoration: none !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.explanation {
  display: none !important;
  transition-duration: 0.4s;
}

/* Prefix the question with letters */
.question-container > button:nth-of-type(1)::before {
  content: "A."
}

.question-container > button:nth-of-type(2)::before {
  content: "B."
}

.question-container > button:nth-of-type(3)::before {
  content: "C."
}

.question-container > button:nth-of-type(4)::before {
  content: "D."
}

/** Answer:
 * This section relates to the styling of the text that is
 * initially displayed as the four answers a user might select.
 * When a user hovers over an answer, the color of the text
 * and the background both change.
 **/

.answer {
  font-family: var(--font);
  font-size: 18px;
  text-align: left;
  text-decoration: none;
  color: var(--blueDark);
  background-color: var(--blueLightest);
  display: inline-block;
  border: none;
  padding: 20px 20px 20px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.answer:disabled {
  cursor: default;
}

.answer:not(:disabled):hover {
  color: var(--blueMedium) !important;
  background-color: var(--blueLight);
}

.answer.correct {
  background-color: var(--green);
  font-weight: bold;
}

.answer.incorrect {
  background-color: var(--red);
}

/* Style the final HTML section which displays the quiz result */
.reveal-score {
  background-color: var(--blueLightest);
  color: var(--blueDark);
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cta,
.reveal-score > button,
.reveal-score > span {
  border: none;
  color: var(--blueDark);
  background-color: var(--blueLightest);
  font-family: var(--font);
  font-size: 18px;
  padding: 1rem;
  text-align: center;
}

.reveal-score > button {
  display: block;
  font-weight: bold;
}

.reveal-score > span {
  display: none;
}

.show-score:hover {
  color: var(--blueMedium) !important;
  background-color: var(--blueLight);
}