/** QUIZ  **/

/* Set custom color variables*/
:root {
  --blueDark: #0a2240;
  --blueMedium: #002d74;
  --blueLight: #e1f3f8;
  --blueLightest: #f0f8ff;
  --red: #f9dede;
  --green: #94bfa2;
  --grey: #e4e5e6;
}

/** Input:
 * These sections relate to the styling of the buttons used
 * to control the selection of answers in the quiz.
 * Input makes sure that the text breaks properly when a button
 * has so much text it needs to wrap to the next line.
 * When disabled, the button reverts to a light grey color
 * with black font.
 **/

input {
  white-space: normal;
  word-wrap: break-word;
}

input:disabled {
  background-color: var(--grey);
}

/** Explanation:
 * This section relates to the styling of the text that appears
 * to explain the correct answer in the quiz.
 **/

.question,.explanation {
  font-family: Merriweather !important;
  font-size: 18px;
  text-align: inline-block;
  text-decoration: none !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.explanation {
  display: none !important;
  transition-duration: 0.4s;
}

/** Answer:
 * This section relates to the styling of the text that is
 * initially displayed as the four answers a user might select.
 * When a user hovers over an answer, the color of the text
 * and the background both change.
 **/

.answer {
  cursor: pointer;
  font-family: Merriweather !important;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
  color: var(--blueDark);
  background-color: var(--blueLightest);
  display: inline-block;
  border: none;
  padding: 20px 20px 20px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.answer:disabled {
  cursor: default;
}

.answer:not(:disabled):hover {
  color: var(--blueMedium) !important;
  background-color: var(--blueLight);
}

.answer.correct {
  background-color: var(--green);
  font-weight: bold;
}

.answer.incorrect {
  background-color: var(--red);
}

/** End:
 * This section relates to the styling of the text that is
 * displayed at the end of the quiz, once a user has answered
 * all the questions. When a user hovers over the final button,
 * the background color and font color change, as seen previously.
 * A user can click to display their final score, in which case
 * the end button needs to disappear to make way for the final
 * message.
 **/

.end {
  font-family: Merriweather !important;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: var(--blueDark);
  background-color: var(--blueLightest);
  display: inline-block;
  border: none;
  padding: 20px 20px 20px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.end:hover {
  color: var(--blueMedium) !important;
  background-color: var(--blueLight);
}

.end:disabled {
  display: none !important;
}

/** End Card:
 * This section relates to the styling of the text that is
 * displayed at the end of the quiz, once a user has answered
 * all the questions. The following sections allow for a flip-
 * card animation to be displayed. The following sections were
 * modified from a W3 Schools tutorial on creating a flip card
 * in CSS.
 **/

.end-card {
  font-family: Merriweather !important;
  background-color: transparent;
  width: 100%;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.end-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.end-card:hover .end-card-inner {
  transform: rotateY(180deg);
}

/* Styles shared by the front and back of the card */
.end-card-front,
.end-card-back {
  font-family: Merriweather !important;
  font-size: 18px;
  text-align: center;
  color: var(--blueDark);
  background-color: var(--blueLightest);
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.end-card-front {
  padding: 50px 0;
}

/* Style the back side */
.end-card-back {
  transform: rotateY(180deg);
}
