.content {
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.header {
  background-color: #002d74;
  border-bottom: solid 7px #c1a783;
  padding: 2rem;
}

.seal {
  color: #fcfcfc;
  height: 100px;
  margin: 0 1.5rem;
}

.title {
  color: #fcfcfc;
  margin: 0;
}
